*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
obj
/Customization/T200/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T210/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T220/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T230/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T240/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T250/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T270/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T280/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/PlugInDevelopment/Help/ImplementingConnectorForECommerceSystem/ToCreateConnector/WooCommerceTest/WooCommerceTest/bin/Debug
/BarcodeDrivenEngine/Help/BarcodeDrivenEngine/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/BarcodeDrivenEngine/Help/BarcodeDrivenEngine/PhoneRepairShop_Code/.vs/PhoneRepairShop_Code/config
/Customization/T190/SourceFiles/PhoneRepairShop_Code/.vs/PhoneRepairShop_Code/FileContentIndex
/Customization/T190/SourceFiles/PhoneRepairShop_Code/.vs/PhoneRepairShop_Code/config
/Customization/T190/SourceFiles/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/Customization/T280/PhoneRepairShop_Code/.vs
/Customization/T280/PhoneRepairShop_Code/PhoneRepairShop_Code.Tests/bin/Debug
/PlugInDevelopment/Help/AddingCustomSmsProvider/CustomSmsProvider_Code/CustomSmsProvider/bin/Debug
/IntegrationDevelopment/Help/ConfiguringWebhooks/TogglWebhookHandler_Code/WebhookHandler/bin/Debug
/Customization/T410/T410_Code/.vs
/Customization/T410/T410_Code/T410_Code/bin
/Customization/T270/PhoneRepairShop_Code/.vs
/Customization/T200/PhoneRepairShop_Code/.vs
/Customization/T230/PhoneRepairShop_Code/PhoneRepairShop_Code/bin
/UnitTesting/T280/PhoneRepairShop_Code/PhoneRepairShop_Code.Tests/bin/Debug
/UnitTesting/T280/PhoneRepairShop_Code/PhoneRepairShop_Code/bin/Debug
/UnitTesting/T280/PhoneRepairShop_Code/.vs/PhoneRepairShop_code/config
/UnitTesting/T280/PhoneRepairShop_Code/.vs
/UnitTesting/T280/PhoneRepairShop_Code/PhoneRepairShop_Code/.vs
/UnitTesting/T280/PhoneRepairShop_Code/PhoneRepairShop_Code.Tests/bin
/PlugInDevelopment/Help/AddingCustomSmsProvider/CustomSmsProvider_Code/.vs
/BarcodeDrivenEngine/Help/BarcodeDrivenEngine/PhoneRepairShop_Code/.vs
