<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyBIIntegrationSBAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <MyBIIntegrationSBAPI.Properties.Settings>
            <setting name="MyBIIntegrationSBAPI_MyBIIntegration_Screen" serializeAs="String">
                <value>http://localhost/MyStoreInstance/Soap/MYBIINTEGRATION.asmx</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin@MyStore:MYSTORE</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
        </MyBIIntegrationSBAPI.Properties.Settings>
    </applicationSettings>
</configuration>