<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyStoreIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultSoap" maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
                <binding name="DefaultSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/MyStoreInstance/entity/Default/18.200.001" binding="basicHttpBinding" bindingConfiguration="DefaultSoap" contract="Default.DefaultSoap" name="DefaultSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MyStoreIntegration.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>D9020968-BEA5-2BE8-31EF-5ABA25D08125@MyStore</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>vBLTIvQaW4rMAOwZwZpp4Q</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>api</value>
            </setting>
            <setting name="IdentityEndpoint" serializeAs="String">
                <value>https://localhost/MyStoreInstance/identity</value>
            </setting>
        </MyStoreIntegration.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
