<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyStoreIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <MyStoreIntegration.Properties.Settings>
            <setting name="IdentityEndpoint" serializeAs="String">
                <value>https://localhost/MyStoreInstance/identity</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>D7ADC2DA-29B5-FEE4-6829-3027FCB86421@MyStore</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>Y1DDqHiln-xFhjZfVEdImg</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>api</value>
            </setting>
        </MyStoreIntegration.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Acumatica"
maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/MyStoreInstance/entity/Default/18.200.001"
                binding="basicHttpBinding" bindingConfiguration="Acumatica"
                contract="Default.DefaultSoap" name="DefaultSoap" />
        </client>
    </system.serviceModel>
</configuration>